
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calculation-result {
  background-color: gray;
  grid-area: result;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  font-size: 50px;
}

.operation-divition,
.operation-multiplication,
.operation-minus,
.operation-add,
.operation-iqual {
  background-color: coral;
  color: black;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.operationAC,
.operation-change,
.operation-percent,
.number9,
.number8,
.number7,
.number6,
.number5,
.number4,
.number3,
.number2,
.number1,
.number0,
.number-dot {
  background-color: white;
  color: black;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.operationAC {
  grid-area: ac;
}

.operation-change {
  grid-area: change;
}

.operation-percent {
  grid-area: percent;
}

.operation-divition {
  grid-area: divition;
}

.number9 {
  grid-area: number9;
}

.number8 {
  grid-area: number8;
}

.number7 {
  grid-area: number7;
}

.number6 {
  grid-area: number6;
}

.number5 {
  grid-area: number5;
}

.number4 {
  grid-area: number4;
}

.number3 {
  grid-area: number3;
}

.number2 {
  grid-area: number2;
}

.number1 {
  grid-area: number1;
}

.number0 {
  grid-area: number0;
}

.number-dot {
  grid-area: number-dot;
}

.operation-multiplication {
  grid-area: multiplication;
}

.operation-minus {
  grid-area: minus;
}

.operation-add {
  grid-area: addition;
}

.operation-iqual {
  grid-area: iqual;
}

.calculator-conteiner {
  background-color: beige;
  width: 50vw;
  height: 40vw;
  display: grid;
  grid-template:
    'result result result result'
    'ac change percent divition'
    'number7 number8 number9 multiplication'
    'number4 number5 number6 minus'
    'number1 number2 number3 addition'
    'number0 number0 number-dot iqual';
}
